<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dfcovid">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/launch_icon"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

       <!-- <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>-->
        <activity android:name="com.dfcovid.Activity_confirmpin"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.dfcovid.Activity_setpin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dfcovid.MainActivity" />


        <activity android:name="com.dfcovid.Dashboard_Activity_New"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dfcovid.Activity_pinlogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfcovid.Activity_confirmoldpin"
            android:screenOrientation="portrait" />
        <activity android:name="com.dfcovid.HomeActivity"/>
        <activity
            android:name="com.dfcovid.Dashboard_Activity" />

        <activity
            android:name="com.dfcovid.MainActivity2"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.dfcovid.ContactUs_Activity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.dfcovid.ContactCenter"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".NotificationList_Activity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name=".MyFirebaseMessagingService"-->
<!--            android:resource="@drawable/ic_launcher_foreground">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name=".MyFirebaseInstanceIDService"-->
<!--            android:resource="@drawable/ic_launcher_foreground">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service
            android:name=".MyFirebaseMessagingService"
            android:resource="@drawable/launch_icon">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:resource="@drawable/launch_icon">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>